<?xml version="1.0"?>
<connectionStrings>
  <!--
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=PROPC045CKNOLL\SQLEXPRESS2012;Initial Catalog=corporate;Integrated Security=True" />
  -->
  <add name="elmah-sqlserver" connectionString="Data Source=.\SQLEXPRESS2012;User ID=W32AppServer;Password=strct94gun;Initial Catalog=logging;" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=corporate;Persist Security Info=True;User ID=W32AppServer;Password=strct94gun" />
</connectionStrings>